.swiper-wrapper {
  @include list-style-none;
}

.swiper--hero {
  position: relative;
}

.swiper-slide--hero {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide.swiper-slide--hero {
  height: auto;
}

.swiper-slide.swiper-slide--tours {
  position: relative;
  min-height: 416px;
  box-sizing: border-box;
  display: flex;
}

.swiper-pagination--hero.swiper-pagination-horizontal.swiper-pagination-bullets {
  gap: 20px;
  display: flex;
  width: fit-content;
  height: fit-content;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

  @media (min-width: $desktop-width) {
    right: 70px;
    top: 86%;
    left: auto;
  }
}

.swiper-pagination--hero.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin: 0;
  border: 1px solid $line-background;
  opacity: 1;
  background-color: transparent;
  position: relative;

  &:hover {
    background-color: #d9d9d9;
  }

  &:focus-visible {
    outline: none;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      box-sizing: border-box;
      width: 28px;
      height: 28px;
      outline: none;
      border: 2px solid rgba($color: $line-background, $alpha: 0.5);
      border-radius: 50%;
    }
  }

  &:active {
    background-color: rgba($color: $line-background, $alpha: 0.5);
  }

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;

    &:focus-visible {
      outline: none;

      &::after {
        width: 18px;
        height: 18px;
      }
    }
  }
}

.swiper-pagination--hero.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $white-background;
}

.swiper-button-prev.swiper-button-prev--tours,
.swiper-button-next.swiper-button-next--tours,
.swiper-button-next.swiper-button-next--training,
.swiper-button-prev.swiper-button-prev--training,
.swiper-button-next.swiper-button-next--reviews,
.swiper-button-prev.swiper-button-prev--reviews {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    box-sizing: border-box;
    width: 37px;
    height: 35px;
    border: none;
    background-color: $button-primary;


    &::after {
      content: "";
      width: 14px;
      height: 10px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      mask-image: url("/__spritemap#sprite-life-tour-swiper-button-view");
      background-color: $line-background;
    }

    &:hover {
      background-color: $white-background;
      border: 1px solid $text-active;

      &::after {
        background-color: $text-active;
      }
    }

    &:focus-visible {
      background-color: $white-background;
      outline: none;

      &::after {
        background-color: $text-active;
      }
    }

    &:active {
      background-color: $text-active;

      &::after {
        background-color: $line-background;
      }
    }
  }
}

.swiper-button-prev.swiper-button-prev--tours.swiper-button-disabled,
.swiper-button-next.swiper-button-next--tours.swiper-button-disabled,
.swiper-button-prev.swiper-button-prev--training.swiper-button-disabled,
.swiper-button-next.swiper-button-next--training.swiper-button-disabled,
.swiper-button-prev.swiper-button-prev--reviews.swiper-button-disabled,
.swiper-button-next.swiper-button-next--reviews.swiper-button-disabled {
  background-color: $text-disabled;
  opacity: 1;
}

.swiper-button-prev.swiper-button-prev--tours,
.swiper-button-prev.swiper-button-prev--training {
  left: -39px;

  &::after {
    transform: translate(-50%, -50%) rotate(180deg);
  }
}

.swiper-button-next.swiper-button-next--tours,
.swiper-button-next.swiper-button-next--training {
  right: -39px;
}

.swiper-slide.swiper-slide--training {
  height: auto;
}

.swiper-wrapper--training {
  margin-bottom: 27px;

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
  }
}

.swiper-slide--reviews {
  box-sizing: border-box;
  width: 290px;
  padding: 21px 20px;
  background-color: $white-background;
  box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);

  height: auto;
}

.swiper-wrapper--reviews {
  padding-top: 13px;
}
